/* Sidebar */
#sidebar-wrapper {
    color: white;
    z-index:1;
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background:#0e151d;
    
}
#sidebar-wrapper #clusterform {
    width: 100%;
}
h5{
    color:#808f94;
}
.clustercheck:checked + h5 {
    color: white;
}

/*
#sidebar-wrapper .form-check {
    width:100%;
    margin: 0;
    display: flex;
    align-items: baseline;
    padding-left: 0;
}

:checked + .form-check-label {
    background-color: #0b1014;
    color: white;
  } 
.form-check-label {
    width: 100%;
    display: block;
    height: 100%;
    color: #69747a;
}
*/



  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wide {
    width: 100%;
    border-left-width: 0px;
    border-right-width: 0px;
}

/* Main */

#main-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 250px;

}

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 0px;


}

#wrapper.menuDisplayed #main-wrapper{
    padding-left: 0px;
}

