body {
    background-color: #26455f;
    font-family:Tahoma, Geneva, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    color: #e84118;
    padding-top: 13%;
}
h3 {
    width: 855px;
    margin:0 auto;
    text-align: center;
  }

button {
    border-radius: 8px;
    margin: 40px;
}
.BUTTON_PMN {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 600;
    padding: 10px;
    background-color: #e84118;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 30px;
    }
    
    .BUTTON_PMN:hover {
        background: #9c2e12;
        text-decoration: none;
    }