<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Demo page for spotify-sorter project">
		<meta name="author" content="Sam Peters">
		<title> Spotify Sorter Demo </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='demo.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script
		       src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>

	</head>

	<body style="padding-top:5rem">
		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
			<a class="navbar-brand" href="#">Spotify Sorter</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
				
				<li class="nav-item active">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Demo</a>
				</li>
		
			</ul>
		</nav>

		<main role="main" class="container">
		<div class="container">
			<div class="row">
				<div style="padding-bottom: 60px; margin-right: 5px; padding-top: 10px; margin-bottom: 10px" class="col w-100 border rounded">
					<h5 style="text-align: center">Single Playlist</h5>
					<form id="playlist_form">
								<label for="seed_track_input">Base track</label>
								<input id="seed_track_input" name="seed_track_input" class="form-control mb-2" placeholder="Choose a track to base the playlist on" list="user_tracks">
								<datalist id="user_tracks"></datalist>
					</form>
					<input type="submit" id="submit_button" class="btn btn-primary mb-2 positionSubmitButton" value="Create Playlist">
				</div>
				<div style="padding-bottom: 60px; margin-left: 5px; padding-top: 10px; margin-bottom: 10px;" class="col w-100 border rounded">
					<h5 style="text-align: center">Multiple Playlists</h5>
					<form id="cluster_form">
						<div id="form-section" class="form-row">
								<label for="formPlaylistNumberRange">Number of playlists</label>
								<input type="range" name="cluster_number" class="form-control-range" id="formPlaylistNumberRange" min="3" max="50" value="10"> 
								<label for="formControlRange">Processing time</label>
								<input type="range" name="repetition_number" class="form-control-range" id="formControlRange" min="0" max="30" value="10">
						</div>
					</form>
					<input type="submit" id="cluster_submit_button" class="btn btn-primary mb-2 positionSubmitButton" value="Create Playlists">

				</div>
			</div>
				
			

		</div>
		<div id="playlists_view" >
		</div>
		</main>
<script type="text/javascript">
	function populate_seed_track_list(){
		$.get('show_tracks', function(data){
			if (data.status){
			var tracks = data.tracks;
			var options = '';
			for (var i = 0; i<tracks.length; i++)
				options += '<option value="'+tracks[i].title+'">'+tracks[i].title+' by '+tracks[i].artist+'</>';
			$("#user_tracks").html(options);
			};
		});
	}
	function display_returned_playlists(data){
		if (data.length>0){
		var clusters = data
		console.log(clusters)

		$("#playlists_view").html('');
		var pl_html = '';
		for (var i=0; i<clusters.length; i++) {
			var cluster = clusters[i];
			var tablename = "playlist_table"+i;
			$("#playlists_view").append('<table id="'+tablename+'" class="table table-striped"></table>');
			$("#"+tablename).append(`<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Artist</th>
				<th scope="col"><input type="submit" id="save_button${i}" class="btn btn-primary mb-2 save-playlist-btn" value="Save Playlist"></th>
					</tr>
				</thead>
				`);
			$("#"+tablename).append('<tbody id="'+tablename+'body"></tbody>');
			var playlist_ids = [];
			for (var j = 1; j<=cluster.length; j++) {
				var song = cluster[j-1]
				var song_str = ""
				playlist_ids.push(song.track_id);
				song_str += '<tr>'+'<th scope="row">'+j.toString()+'</th>';
				song_str += '<td>'+song.title+'</td>';
				song_str += '<td>'+song.artist+'</td>';
				if (song.preview_url != "null"){
				song_str += '<td><a href='+song.preview_url+'>Link to song preview</a></td>'+'</tr>';						
				}
				else {song_str += '</tr>';}
				$("#"+tablename+"body").append(song_str);
			}
			$("#save_button"+i).data('playlist', playlist_ids);
		}

	}
	}
$(document).ready(function(){
	$("#playlist_form").submit(function(e){
		e.preventDefault();
	});

	$("#playlists_view").on("click", ".save-playlist-btn", function(e){
		e.preventDefault();
		console.log("here");
		var playlist_ids = $(this).data("playlist");
		console.log(playlist_ids);
		$.post('save_playlist', {'playlist':playlist_ids},
			function(data) {
				console.log(data);
				console.log("Playlist saved");
			}
		);
	});
	$("#submit_button").click(function(e){
		e.preventDefault();
		var form_data = $("#playlist_form").serialize();
		console.log(form_data);
		$.post('first_n', form_data, function( data ) {
			if (data.status) {
				display_returned_playlists([data.playlist]);
			}
		})
	});
	$("#cluster_submit_button").click(function(e){
		e.preventDefault();
		var form_data = $("#cluster_form").serialize();
		console.log(form_data);
		$.post('cluster', form_data, function( data ) {
			if (data.status) {
				display_returned_playlists(data.clusters);
			}
		})
	});
	populate_seed_track_list();

	
});

</script>
	</body>
</html>