<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Demo page for spotify-sorter project">
		<meta name="author" content="Sam Peters">
		<title> Spotify Sorter Demo </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script
		       src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>

	</head>

	<body style="padding-top:5rem">
		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
			<a class="navbar-brand" href="#">Spotify Sorter</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
				
				<li class="nav-item active">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Demo</a>
				</li>
		
			</ul>
		</nav>

		<main role="main" class="container">
		<form id="playlist_form">
		<div id="form-section" class="form-row">
			<div class="col">
			<input id="seed_track_input" name="seed_track_input" class="form-control mb-2" placeholder="Choose a track from your library to base your new playlist on" list="user_tracks">
			<datalist id="user_tracks"></datalist>
			</div>

			<div class="col-auto">
			<input type="submit" id="submit_button" class="btn btn-primary mb-2" value="Create Playlist">
			</div>
		</div>
	</form>
		
		<div id="playlist_view" >
			<table id="playlist_table" class="table table-striped" style="display:None">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Artist</th>
						<th scope="col"><input type="submit" id="save_button" class="btn btn-primary mb-2" value="Save Playlist"></th>
					</tr>
				</thead>
				<tbody id='playlist_body'>
				</tbody>
			</table>
		</div>
		</main>
<script type="text/javascript">
	function populate_seed_track_list(){
		$.get('show_tracks', function(data){
			if (data.status){
			var tracks = data.tracks;
			var options = '';
			for (var i = 0; i<tracks.length; i++)
				options += '<option value="'+tracks[i].title+'">'+tracks[i].title+' by '+tracks[i].artist+'</>';
			$("#user_tracks").html(options);
			};
		});
	}
$(document).ready(function(){
	$("#playlist_form").submit(function(e){
		e.preventDefault();
	});

	$("#save_button").click(function(e){
		e.preventDefault();
		console.log($("#playlist_view").data("playlist"));
		var playlist_ids = $("#playlist_view").data("playlist");
		$.post('save_playlist', {'playlist':playlist_ids},
			function(data) {
				console.log(data);
				console.log("Playlist saved");
			}
		);
	});
	$("#submit_button").click(function(e){
		e.preventDefault();
		var form_data = $("#playlist_form").serialize();
		console.log(form_data);
		$.post('first_n', form_data,
			function(data){
				if (data.status){
					var playlist = data.playlist;
					console.log(playlist);
					var playlist_ids = [];
					for (var j = 0; j<playlist.length; j++){
						playlist_ids.push(playlist[j].track_id);
					};

					$("#playlist_view").data('playlist', playlist_ids);
					console.log("trying to save playlist data");
					console.log($("#playlist_view").data('playlist'));
					var table_html = '';
					$("#playlist_body").html('');
					for (var i = 1; i<=playlist.length; i++) {
						table_html += '<tr>'+'<th scope="row">'+i.toString()+'</th>';
						table_html += '<td>'+playlist[i-1].title+'</td>';
						table_html += '<td>'+playlist[i-1].artist+'</td>';
						if (playlist[i-1].preview_url != "null"){
						table_html += '<td><a href='+playlist[i-1].preview_url+'>Link to song preview</a></td>'+'</tr>';
						}
						else {table_html += '</tr>';}
					};
					$("#playlist_body").html(table_html);
					$("#playlist_table").show();
				};
					
			});
	});
	populate_seed_track_list();

	
});

</script>
	</body>
