<html lang="en">
	<head>
		<link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='favicon.ico') }}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Demo page for spotify-sorter project">
		<meta name="author" content="Sam Peters">
		<title>Spotify Sorter</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='demo.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script
			   src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary">
			<a class="navbar-brand" href="#">Spotify Sorter</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="demo">Demo</a>
					</li>
				</ul>
				{% if current_user.is_authenticated %}
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">User: {{ current_user.display_name }}</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="logout">Logout</a>
					</li>
				</ul>
				{% else %}
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ authorize_url }}">Login</a>
					</li>
				</ul>
				{% endif%}
				
			</div>
		</nav>

		<main role="main" class="container" style="padding-top: 15px;">
		<div class="container">
			<h2 style="text-align: center">Avoid Musical Whiplash</h2>
			<h5 style="text-align: center">Effortlessly Create Smart, Seamless Spotify Playlists</h5>
			<div class="row mb-3">
			<p>You have great taste in music, but that doesn't mean all the songs in your library go well together. For instance, Led Zeppelin and Taylor Swift both make amazing music, but jumping from one to the other can be super jarring. Let us help you create better playlists by finding songs in your library that just work together.</p>
			</div>
			{% if not current_user.is_authenticated %}
			<div class="row mt-3 text-center">
				<a href="{{ authorize_url }}" class="btn btn-primary mx-auto">Get started by logging into Spotify</a>
			</div>
			<div class="row mb-0 text-center">
				<p class="mx-auto">Or try out our <a href="demo">demo page!</a></p>
			</div>
			{% endif %}
			<div class="row my-3">
			<h5 class="mx-auto">How Everything Works</h5>
			
			<p>Once you've logged in, our tools can analyze the contents of your spotify library. Using data about the acousticness, danceability, energy, instrumentalness, key, liveness, loudness, mode, speechiness, valence, and tempo of each song, we're able to treat each song like a point in space, and find its musical neighbors.</p>
			<p>As a result of that, anytime your're listening to a song that matches your mood perfectly, you can use our Single Playlist tool to find the 15 other perfect songs in your library. Or if you don't know exactly what you're in the mood for, we can turn your saved songs into 15 separate playlists, each with their own unique theme.
			</div>
		
		</div>
		{% if current_user.is_authenticated %}
		<div class="container">
			<div class="row">
				<div style="padding-bottom: 60px; margin-right: 5px; padding-top: 10px; margin-bottom: 10px" class="col w-100 border rounded">
					<h5 style="text-align: center">Single Playlist</h5>
					<form id="playlist_form">
								<label for="seed_track_input">Base track (Required)</label>
								<input id="seed_track_input" name="seed_track_input" class="form-control mb-2" placeholder="Choose a track to base the playlist on" list="user_tracks">
								<label for="formPlaylistLength">Number of songs</label>
								<input type="range" name="playlist_length" class="form-control-range" id="formPlaylistLength" min="5" max="40" value="10">
								<datalist id="user_tracks"></datalist>
					</form>
					<input type="submit" id="submit_button" class="btn btn-primary mb-2 positionSubmitButton" value="Create Playlist">
				</div>
				<div style="padding-bottom: 60px; margin-left: 5px; padding-top: 10px; margin-bottom: 10px;" class="col w-100 border rounded">
					<h5 style="text-align: center">Multiple Playlists</h5>
					<form id="cluster_form">
						<div id="form-section" class="form-row">
								<label for="formPlaylistNumberRange">Number of playlists</label>
								<input type="range" name="cluster_number" class="form-control-range" id="formPlaylistNumberRange" min="3" max="50" value="10"> 
								<label for="formControlRange">Processing time</label>
								<input type="range" name="repetition_number" class="form-control-range" id="formControlRange" min="0" max="40" value="20">
						</div>
					</form>
					<input type="submit" id="cluster_submit_button" class="btn btn-primary mb-2 positionSubmitButton" value="Create Playlists">

				</div>
			</div>
		</div>
		<hr>
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			  </ul>
			  <div class="tab-content" id="pills-tabContent">
				
				</div>
		</div>
		{% endif %}
		</main>
<script type="text/javascript">
	function populate_seed_track_list(){
		$.post('show_tracks',{'demo': false}, function(data){
			if (data.status){
			var tracks = data.tracks;
			var options = '';
			for (var i = 0; i<tracks.length; i++)
				options += '<option value="'+tracks[i].title+'">'+tracks[i].title+' by '+tracks[i].artist+'</>';
			$("#user_tracks").html(options);
			};
		});
	}
	function display_returned_playlists(data){
		if (data.length>0){
			$("#pills-tab").html("")
			$("#pills-tabContent").html("")
		var clusters = data
		console.log(clusters)


		var pl_html = '';
		if (clusters.length > 1) {
			$("#pills-tab").show()
		} else {
			$("#pills-tab").hide()
		}
		for (var i=0; i<clusters.length; i++) {
			var cluster = clusters[i];
			var tablename = "playlist_table"+i;
			if (i==0) {
				$("#pills-tab").append(`<li class="nav-item">
				  <a class="nav-link active" id="playlist${i}_tab" data-toggle="pill" href="#playlist${i}" role="tab" aria-controls="playlist${i}" aria-selected="true">Playlist ${i+1}</a>
				</li>`)
				$("#pills-tabContent").append(`<div class="tab-pane fade show active" id="playlist${i}" role="tabpanel" aria-labelledby="playlist${i}_tab"></div>`)
			} else {
				$("#pills-tab").append(`<li class="nav-item">
				  <a class="nav-link" id="playlist${i}_tab" data-toggle="pill" href="#playlist${i}" role="tab" aria-controls="playlist${i}" aria-selected="true">Playlist ${i+1}</a>
				</li>`)
				$("#pills-tabContent").append(`<div class="tab-pane fade" id="playlist${i}" role="tabpanel" aria-labelledby="playlist${i}_tab"></div>`)	
			}
			$(`#playlist${i}`).append('<div class="table-responsive"><table id="'+tablename+'" class="table table-striped"></table></div>');
			$("#"+tablename).append(`<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Artist</th>
				<th scope="col"><input type="submit" id="save_button${i}" class="btn btn-primary mb-2 save-playlist-btn" value="Save Playlist to Spotify"></th>
					</tr>
				</thead>
				`);
			$("#"+tablename).append('<tbody id="'+tablename+'body"></tbody>');
			var playlist_ids = [];
			for (var j = 1; j<=cluster.length; j++) {
				var song = cluster[j-1];
				var song_str = "";
				playlist_ids.push(song.track_id);
				song_str += '<tr>'+'<th scope="row">'+j.toString()+'</th>';
				song_str += '<td>'+song.title+'</td>';
				song_str += '<td>'+song.artist+'</td>';
				if (song.preview_url != null){
				{% if user_browser == "safari" %}
					song_str += '<td><a href='+song.preview_url+'>Link to song preview</a></td>'+'</tr>';	
				{% else %}
					song_str += '<td><audio preload="none" class="playback" src=' + song.preview_url + ' controls="controls" preload="none"></td></tr>';
				{% endif %}		
				}
				else {song_str += '<td><p>No preview available</p></td>'+'</tr>';}
				$("#"+tablename+"body").append(song_str);
			}
			$("#save_button"+i).data('playlist', playlist_ids);
		}

	}
	}
$(document).ready(function(){
	$("#playlist_form").submit(function(e){
		e.preventDefault();
	});
	document.addEventListener('play', function(e){
    	$("audio").not(e.target).each(function(index, audio) {
        	audio.pause();
    	});
	}, true);

	$("#pills-tabContent").on("click", ".save-playlist-btn", function(e){
		e.preventDefault();
		var playlist_ids = $(this).data("playlist");
		$.post('save_playlist', {'playlist':playlist_ids},
			function(data) {
				console.log("Playlist saved");
			}
		);
	});
	$("#submit_button").click(function(e){
		e.preventDefault();
		var form_data = $("#playlist_form").serialize();
		var data = form_data + '&demo=false'
		console.log(data);
		$.post('first_n', data, function( data ) {
			if (data.status) {
				display_returned_playlists([data.playlist]);
			}
		})
	});
	$("#cluster_submit_button").click(function(e){
		e.preventDefault();
		var form_data = $("#cluster_form").serialize();
		var data = form_data + '&demo=false'
		console.log(data);
		$.post('cluster', data, function( data ) {
			if (data.status) {
				display_returned_playlists(data.clusters);
			}
		})
	});
	populate_seed_track_list();

	
});

</script>
	</body>
</html>
