<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Sam Peters">
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <meta name="description" content="Spotify Sorter is a third party website that helps
     spotify users manage large libraries.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{css}}"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Spotify Sorter</title>
  </head>
  <body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      
        <form method="POST" action="" style="padding:10px" id="clusterform">
            <h4 id="formheader">Choose song attributes to cluster your library</h4>
            <label class="unselectable form-check-label" for="f1">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="acousticness" id="f1" type="checkbox">
                    <h5 style="display: inline-block">Acousticness</h5>
                </div>
            </label>

            <label class="unselectable form-check-label" for="f2">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="danceability" id="f2" type="checkbox">
                    <h5 style="display: inline-block">Danceability</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f3">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="energy" id="f3" type="checkbox">
                    <h5 style="display: inline-block">Energy</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f4">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="instrumentalness" id="f4" type="checkbox">
                    <h5 style="display: inline-block">Instrumentalness</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f5">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="key" id="f5" type="checkbox">
                    <h5 style="display: inline-block">Key</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f6">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="liveness" id="f6" type="checkbox">
                    <h5 style="display: inline-block">Liveness</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f7">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="loudness" id="f7" type="checkbox">
                    <h5 style="display: inline-block">Loudness</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f8">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="mode" id="f8" type="checkbox">
                    <h5 style="display: inline-block">Mode</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f9">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="speechiness" id="f9" type="checkbox">
                    <h5 style="display: inline-block">Speechiness</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f10">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="valence" id="f10" type="checkbox">
                    <h5 style="display: inline-block">Valence</h5>
                </div>
            </label>
            <label class="unselectable form-check-label" for="f11">
                <div style="width: 250px; height: 30px;">
                    <input class="clustercheck" name="f" style="margin-inline-start: 10px; position: relative; top: -3px;" value="tempo" id="f11" type="checkbox">
                    <h5 style="display: inline-block">Tempo</h5>
                </div>
            </label>
            <button type="submit" id="clustersubmit" class="btn btn-primary mb-2">Create Playlists</button>
        </form>

        <form method="POST" action="" id="refresh">
          <p><input type="submit" class="btn btn-primary" id="refreshb" name="refresh" style="position:absolute; bottom:0; width:100%;" value="Refresh Library"></p>
        </form>
    </div>
    <div id="main-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <a href="#"  style="font-size: 2rem; text-decoration: none; color: black;" id="menu-toggle">&#8801;</a>
            <h1>Spotify Sorter &#9835;</h1>
            <h3>Automatically create new playlists by clustering the 
              songs in your library by attributes like danceability, acousticness, and instrumentalness.</h3>
            {% if clusters is defined %}
            <nav>

                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  {% set first = 'true' %}
                  {% for cluster in clusters %}
                    {% if loop.first %}
                      <a class="nav-item nav-link active" id="nav-{{loop.index}}-tab" data-toggle="tab" href="#nav-{{loop.index}}" role="tab" aria-controls="nav-{{loop.index}}" aria-selected="true">Cluster {{loop.index}}</a>
                    {% else %}
                      <a class="nav-item nav-link" id="nav-{{loop.index}}-tab" data-toggle="tab" href="#nav-{{loop.index}}" role="tab" aria-controls="nav-{{loop.index}}" aria-selected="false">Cluster {{loop.index}}</a>
                    {% endif %}
                    {% set first = 'false' %}
                  {% endfor %}
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                  {% set first = 'true' %}
                  {% for cluster in clusters %}
                    {% if loop.first %}
                      <div class="tab-pane fade show active" id="nav-{{loop.index}}" role="tabpanel" aria-labelledby="nav-{{loop.index}}-tab">
                        <div style="display:flex;height:40px;overflow:hidden;">
                          <span style="padding-left: 10px;text-align: center; font-weight:600; font-size:2em"> <h4>Cluster {{loop.index}}</h4></span>
                          <a class="btn btn-primary add-playlist" data-cluster="{{clustersById[loop.index0]}}" style="color:white; position: absolute; right:14px">Save playlist to Spotify</a>
                        </div>
                          <div class="list-group d-flex flex-row flex-wrap">
                              {% for track in cluster %}
                                <a class="list-group-item w-50">{{track.name}} by {{track.artist}}</a>
                              {% endfor %}
                              </div>
                      </div>
                    {% else %}
                      <div class="tab-pane fade" id="nav-{{loop.index}}" role="tabpanel" aria-labelledby="nav-{{loop.index}}-tab">
                          <div style="display:flex;height:40px;overflow:hidden;">
                              <span style="padding-left: 10px;text-align: center; font-weight:600; font-size:2em"> <h4>Cluster {{loop.index}}</h4></span>
                              <a class="btn btn-primary add-playlist" data-cluster="{{clustersById[loop.index0]}}" style="color:white; position: absolute; right:14px">Save playlist to Spotify</a>
                            </div>
                          <div class="list-group d-flex flex-row flex-wrap">
                                  {% for track in cluster %}
                                    <a class="list-group-item w-50">{{track.name}} by {{track.artist}}</a>
                                  {% endfor %}    
                                  </div>
                      </div>
                    {% endif %}
                    {% set first = 'false' %}
                  {% endfor %}
              </div>
              
              {% else %}
              <p><b>To start</b> check the boxes of the attributes you want to use to sort your messy spotify library into new playlists. For the best results, select all of them. <b>Next</b>, browse all of the playlists created from your library, and click the <b>Save playlist to Spotify</b> button for any that look good to save them to your spotify account.</p>

                  <p>This site will not modify your saved songs, or any of your existing playlists. It will only create new playlists when you click the save playlist button.</p>
                  <h4>Track Attributes</h4>
                  <h6>Spotify describes each song using a number of different ways, and we use these attributes to group similar songs together in playlists. Learn about what each one means below.</h6>
                  <ul>
                    <li><b>Acousticness</b> - How likely a song is to be acoustic.</li>
                    <li><b>Danceability</b> - How danceable a song is. Based on things like tempo and how regular a song is.</li>
                    <li><b>Energy</b> - Measure of how much intensity and activity is in a song.</li>
                    <li><b>Instrumentalness</b> - How likely a track is to be instrumental.</li>
                    <li><b>Key</b> - Estimated overall key of a track, represented as an integer.</li>
                    <li><b>Liveness</b> - How likely a song was performed live.</li>
                    <li><b>Loudness</b> - Average loudness of a track in decibels.</li>
                    <li><b>Mode</b> - The modality of a track, either being major or minor.</li>
                    <li><b>Speechiness</b> - The amount of spoken words in a track.</li>
                    <li><b>Valence</b> - How positive a track sounds. A valence value means a track sounds happy, while a low one means it sounds sadder.</li>
                    <li><b>Tempo</b> - The average beats per minute in a track.</li>
                  </ul>
                  <h4>How Everything Works</h4>

                  <p>When you log in, this site uses <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">Spotify's API</a> to get all of the tracks you've saved on Spotify and stores this information in an SQL database waiting for you to choose which attributes you want to use to sort your library by to make new playlists. To create great playlists, we group songs that are close together musically in the same playlist. Every track has a set of numbers, each describing a different attribute it has (ex. a classical piano track might have acousticness value of 0.9, and a speechiness value of 0), and we can treat this set of numbers like coordinates and 'plot' each track on a graph based off it's attributes. From there we use an algorithm called
                     <a href="https://en.wikipedia.org/wiki/K-means_clustering">k-means clustering</a> to sort each of your songs into groups of songs that are close together.

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#menu-toggle").click(function(e){
      e.preventDefault();
      $("#wrapper").toggleClass("menuDisplayed");


    });
  </script>
  <script>
    $(".add-playlist").on('click', function (event) {  
      event.preventDefault();
      var el = $(this);
      el.prop('disabled', true);
      setTimeout(function(){el.prop('disabled', false); }, 3000);
      var data = JSON.stringify($(this).attr('data-cluster'));
      $.ajax({
        url: 'saveplaylist',
        type: 'POST',
        data: data,
        contentType: 'application/json',
        processData: false,
      });
    });
  </script>
  </body>
</html>