<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Sam Peters">
    <meta name="description" content="Spotify Sorter is a third party website that helps
     spotify users manage large libraries.">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="stylesheet" href="{{css}}">
    <title>Spotify Sorter</title>
    </head>
    <body>
        <h1>Spotify Sorter</h1>
            <h3>Automatically create new playlists by clustering the 
                songs in your library by attributes like danceability, acousticness, and instrumentalness.</h3>
                <a href="{{redirect_url}}" class="BUTTON_PMN">Get started by logging in to Spotify</a>
    </body>
</html>